body{
  background-image: url("background1.png");
}

#rectangles{ background-color: rgb(248,248,255,.93);
  border-radius: 10px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: dashed;
  border-color: brown;
  border-radius: 5px;
}

p{font-family: "华文中宋",sans-serif;
font-weight:bold;}

fieldset {
    display: block;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(163, 116, 28);
    border-radius: 5px;

}
#titleee{
  text-align:center;
  background-color: #FFE5CC;
  border: 2px solid #422800;
  border-radius: 10px;
  box-shadow: #422800 4px 2px 0 0;
  color: #994C00;
  font-weight: 600;
  font-size: 30px;
  padding: 20px 30px;
  line-height: 30px;
  text-align: center;

}

#os{color: brown}
#NoCount{color:grey}

 button
 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 2px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  padding: 0 14px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}}


}
