
#Spring {background-image: url("ag1.jpg")}
#Summer {background-image: url("mucon.jpg")}
#Autumn {background-image: url("ab1.jpg")}
#Winter {background-image: url("winter3.jpg")}



h1 {font-family: "NSimSun"}
h3 {font-family: "FangSong";}
h4 {font-family: "STXinWei"}
h5 {font-family: "FangSong";}
h6 {font-family: "FangSong";}
p {font-family: "fantasy",papyrus;}

.card-title {font-size: 27px;
  font-family: "fantasy",papyrus;}
.card-text{font-size: 12px;
  font-family: "FangSong";

}

#toast1 {color: black}
#toast2 {color: black}

.dropdown-item {font-family: "Candara"}


.tales {
  width: 100%;
}


#AutumeC.carousel.slide {
    width: 70%;
    max-width: 400px; !important
}

.carousel-inner img {
  margin: auto;
}


#internjump {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 10px;
  width: 132px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}





.btn {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 125px 155px 15px 15px 155px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: "FangSong", sans-serif;
  font-size: 0.8rem;
  line-height: 13px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}}
